<footer>
    <div class="footer-content">
        <div class="footer-top-section">
            <div class="logo">
                <img src="/assets/images/logo.png" alt="Alogo">
            </div>
            <p class="description">
                The service is provided by certified nutrition experts and trainers.
            </p>
            <div class="contact-info">
                <p class="footer-section-heading">Chat with us</p>
                <p>
                    Our certified Nutritionist team is available through your account chat section.
                    We are here for you 24/7.
                </p>
            </div>
            <div class="help-info">
                <p class="footer-section-heading">Get help</p>
                <p>
                    Want to learn more about how to regain youth, want to manage your subscription,
                    or you had questions and couldn't find answers? Just click on
                    <a href="#">SUPPORT</a>.
                </p>
            </div>
        </div>
        <div class="links">
            <div class="link-wrapper">
                <a href="#" class="no-underline">TERMS OF SERVICE and POLICIES</a>
                <img src="/assets/icons/arrow.svg" alt="Arrow">
            </div>
            <div class="link-wrapper">
                <a href="#" class="no-underline">TERMS OF SUBSCRIPTION SERVICES</a>
                <img src="/assets/icons/arrow.svg" alt="Arrow">
            </div>
        </div>
        <p class="disclaimer">
            The results differ from person to person. This site is not a part of the Facebook website
            or Facebook Inc. Additionally, this site is NOT endorsed by Facebook in any way. FACEBOOK is a
            trademark of FACEBOOK, Inc.
        </p>
    </div>
</footer>
