---
title: Uncover weight loss methods
layout: 'base.njk'
---

<div>
    <header>
        <img src="/assets/images/logo.png" alt="Alogo" class="logo">
        <img src="/assets/icons/my-account.svg" alt="Account Icon" class="account-icon">
    </header>
    {% include "banner-content.njk" %}
    {% include "disclaimer-section.njk" %}
    {% include "footer.njk" %}
</div>
